<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Map Server -->
    <arg name="map_file" default="$(find where_am_i)/maps/mymap.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="where_am_i/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>

    <!-- If you choose to define initial pose here -->
    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="-1.57" /> 
<!--Parameter Settings, Followed from: http://wiki.ros.org/amcl#Parameters -->
     <!-- default is 100 -->
    <param name="min_particles" value="150" /> 
    <!-- default is 5000 -->
    <param name="max_particles" value="3000" />
<!--Initial pose is already set above-->
    

<!--update_min_d (double, default: 0.2 meters) Min_d is set same as resolution of costmap-->
    <param name="update_min_d" value="0.05" /> 
    <!-- update_min_a (double, default: π/6.0 radians) -->
    <param name="update_min_a" value="0.14" /> 

<!--Odometry-->
 <!-- odom_alpha1 (double, default: 0.2) -->
    <param name="odom_alpha1" value="0.00003" /> 
    <!-- odom_alpha2 (double, default: 0.2) --> 
    <param name="odom_alpha2" value="0.002" />    
    <!-- odom_alpha3 (double, default: 0.2) --> 
    <param name="odom_alpha3" value="0.00003" />    
    <!-- odom_alpha4 (double, default: 0.2) -->
    <param name="odom_alpha4" value="0.002" /> 
  </node>


  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base"    respawn="false" output="screen">
  <remap from="scan" to="where_am_i/laser/scan"/>
  <param name="base_global_planner" value="navfn/NavfnROS" />
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

<rosparam file="$(find where_am_i)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find where_am_i)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find where_am_i)/config/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find where_am_i)/config/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find where_am_i)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
